.App {
  text-align: center;
  display: flex;
  height: 100%;
  justify-content: center;
  background: rgb(83, 168, 202);
  background: linear-gradient(
    90deg,
    rgba(83, 168, 202, 1) 0%,
    rgba(107, 214, 238, 1) 26%,
    rgba(176, 230, 241, 1) 64%,
    rgba(215, 232, 235, 1) 94%
  );
}
html,
body,
#root {
  height: 100%;
}
*::-webkit-scrollbar {
  height: 5px;
  width: 6px;
  border-radius: 15px;
}

*::-webkit-scrollbar-track {
  background: #e6eaf2;
  border-radius: 15px;
}

*::-webkit-scrollbar-thumb {
  height: 20px;
  background: #d4d6db;
  border-radius: 15px;
}
